/* GENERALES */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#container {
    width: 100%;
    height: 100vh;
    margin: 0px;
    background: linear-gradient(to right, #ff8647, #fdad69, #ffdd90);

    display: flex;
    justify-content: center;
    align-items: center;

}

#wrap {
    width: 95%;
    max-width: 1000px;
    height: auto;
    min-height: 500px;
    background-color: #141724;
    box-shadow: 20px 20px 30px #4e3b24;
    background-image: url("./img/One-Piece-Live-action_1.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

/* circulos */

#circulos{
    width: 60%;
    max-width: 1000px;
    height: auto;
    min-height: 500px;
    position: relative;
    overflow: hidden;
}


#naranja{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    position: absolute;
    top: -9%;
    background: linear-gradient(to top, #fb4b50, #fd7d2b, #feae0a);
}

#azul-verde{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    position: absolute;
    top: 53%;
    left: 50%;
    background: linear-gradient(to top, #18a33b, #1aab89, #1896e6);
}